<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Our application will help you find the necessary detail and also gives you the opportunity to put up for sale computer hardware and parts.</P>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>CATEGORIES</h3>
                    <ul>
                    <li><a href="#"> Mather plate</a></li>
                    <li><a href="#"> Culers</a></li>
                    <li><a href="#"> RAM</a></li>
                    <li><a href="#"> Hard drive</a></li>
                    <li><a href="#"> Monitors</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/units/new "> Units</a></li>
                    <li><a href="/orders/new"> Ordrers</a></li>
                    <li><a href="#"> contact</a></li>
                    <li><a href="#"> Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
        </div>
        </div>
</section>